flask==3.0.2
fastapi==0.109.2
flask-socketio
plivo==4.30.0
openai==0.28.1
python-dotenv==1.0.0
psycopg2-binary==2.9.9
gunicorn==21.2.0
google-generativeai==0.3.2
pinecone==3.0.2
eventlet
gevent
requests
python-dateutil
tenacity
uvicorn==0.27.1
websockets==12.0
asyncio
pydantic==2.6.1
wave
numpy==1.26.4
chainlit==0.7.500

