flask
fastapi
flask-socketio
plivo
openai
python-dotenv
psycopg2-binary
gunicorn
google-generativeai
pinecone
eventlet
gevent
requests
python-dateutil
tenacity
uvicorn
websockets
asyncio
pydantic
wave
openai-realtime
